@import '../../scss/variables';
$pixel_5 : 5px;

.card {
    text-align: left;
    border-radius: $pixel_5;

    .cardLabel {
        width: $max-pixel;
        font-weight: bold;
        background-color: rgb(246, 242, 242);
        padding: $pixel_5;
    }

    li {
        margin-top: $pixel_5;
    }
}