@import '../../scss//mixins';
@import '../../scss//variables';

.menu-sidebar {
    position: static;
}

.menu-sidebar {
    width: 40%;
    margin-left: $content-zero;
    height: $max-pixel;
    background-color: darkgray;

    @include media-max-width ($mobile-mediaPixel) {
        width: 70%;
    }

}

#side-drawer {
    width: $max-pixel;
    height: $max-pixel;
    position: fixed;
    top: 40px;

    @include media-min-width ($desktop-size) {
        display: $content-displaynone;
    }

}