@import './scss/_mixins.scss';
@import './scss/variables';

* {
  box-sizing: border-box;
}

html {
  height: $max-pixel;
}

body {
  margin: 0;
  padding: 40px;
  height: $max-pixel;

  @include media-max-width (1024px) {
    padding: 0;
  }
}

.root {
  height: $max-pixel;
}